body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/recursos/img/backgroundColorImage.png) center top no-repeat #1b2838;
}
/*Cabecera*/

#header{
    width: 100%;
    top: 0;
    position: sticky;
    background: url(/recursos/img/backgroundColorImage.png) center top no-repeat #1b2838;
}
.cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagenLogo {
    width: 115px;
    margin: 10px;
}
.estilosCabeceraLink{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.estilosCabeceraH1{
    margin-top: 62px;
}

  /*Inicio estilos menu*/
.menu {
    background-color: rgb(23, 26, 33);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.listaMenu {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
}

.listaMenu > li {
    color: rgb(184, 182, 180);
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.listaMenu > li a{
    color: rgb(184, 182, 180);
}
.listaMenu > li a:hover {
    color: white;
}

.listaMenu > li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
}
/*Fin estilos menu*/




/*Inicio estilos cuerpo*/
.estilosCuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 12%;
}
.noticia{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 20px 10px 20px;
    background: rgba(255,255,255,0.15);
    color: rgb(255, 255, 255);
    box-shadow:rgb(0, 0, 0) 0px 0px 5px 0px;
}
.noticias :hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 5px 0px;
}
.noticias .noticia h2:hover {
    box-shadow:none;
}
.imagen{
    width: 100%;
    height: 80%;
}
.ultimaRow{
    margin-bottom: 2%;
}
/*Fin estilos cuerpo*/





/*Inicio estilos pie*/
#footer{
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    margin: 0;
}
.pie{
    background-color: black;
    color: #8f98a0;
}
.pie label{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
    padding-top: 6px;
}
.pie label a{
    color: #67c1f5;
}
/*Fin estilos pie*/

/*Inicio estilos noticia 1*/
.estilonoticia1Cuerpo{
    align-items: center;
}
.estilonoticia1Imagen{
    width: 35%;
}
.estilonoticia1Parrafo{
    color: white;
    margin: 20px 20% 0px 20%;
    text-align: initial;
}
.estilonoticia1UltimoParrafo{
    padding-bottom: 5%;
}
/*Fin estilos noticia 1*/

/*Inicio estilos noticia2*/
.estiloTabla{
    color: azure;
    border: 1px solid white;
    border-collapse: collapse;
    margin:5% 0 5% 0;
    padding-bottom: 10%;
}
.estiloTablaImagen{
    width: 60px;
    margin-top: 10px;
}
th, td {
    background-color: #023f3f;
    padding: 5px;
}
/*Fin estilos noticia2*/

/*Estilos generales reutilizables*/
.alinearALaIzquierda{
    text-align: left;
}
.centrar{
    text-align: center;
}
.alinearALaDerecha{
    text-align: right;
}
.quitarEstilosLink{
    text-decoration: none;
}
.colorAquamarina{
    color: aquamarine;
}