.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Cabecera*/

#header{
    width: 100%;
}
.cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  /*Inicio estilos menu*/
.menu {
    background-color: #dbdbdb;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.listaMenu {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
}

.listaMenu > li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.listaMenu > li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
}
/*Fin estilos menu*/

/*Inicio estilos cuerpo*/
#cuerpo{
    width: 100%;
}
/*Fin estilos cuerpo*/

/*Inicio estilos pie*/
#footer{
    width: 100%;
}
.pie{
    background-color: #dbdbdb;
}
/*Fin estilos pie*/

/*Estilos generales reutilizables*/
.alinearALaIzquierda{
    text-align: left;
}
.centrar{
    text-align: center;
}
.alinearALaDerecha{
    text-align: right;
}